@font-face {
	font-family: 'Open Sans';
	src:
		url('../fonts/OpenSans/OpenSans-Regular.eot') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {font-family: "Bebas Neue Bold"; 
	src: url("//db.onlinewebfonts.com/t/4cb0a725d25db5a5401af8cffa9f3beb.eot"); 
	src: url("//db.onlinewebfonts.com/t/4cb0a725d25db5a5401af8cffa9f3beb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4cb0a725d25db5a5401af8cffa9f3beb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4cb0a725d25db5a5401af8cffa9f3beb.woff") format("woff"), url("//db.onlinewebfonts.com/t/4cb0a725d25db5a5401af8cffa9f3beb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4cb0a725d25db5a5401af8cffa9f3beb.svg#Bebas Neue Bold") format("svg"); }